# IDE
.idea/
.vscode/
*.sublime-*

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
/vendor/

# Build
*.min.js
*.min.css

# But keep vendored JS libraries
!assets/js/vendor/
!assets/js/vendor/**

# Logs
*.log

# Temporary files
*.tmp
*.swp
*~
